@media screen and (width<=320px) {
    img[alt=bgimg] {
        display: block;
        display: none;
    }

    #box1,#box2,#box3 {
        width: 100%;
        height: fit-content;
    }

    .text1 h1 {
        font-size: 34px;
        font-weight: 600;
    }

    .text2 {
        width: 90%;
        font-size: 15px;
        font-weight: 400;
    }
    
    img[alt=logo] {
        width: 30px;
    }

    .buttons {
        display: flex;
        flex-flow: column;
        padding: .5em;
        margin: 0em 0;
    }
    
    .text1of2 h1 {
        font-size: 34px;
        width: 100%;
        font-weight: 600;
    }

    .text2of2 {
        font-size: 15px;
    }

    #lineicon1, #lineicon2, #lineicon3, .cicon, .line {
        display: block;
        display: none;
    }

    #Y2019, #Y2020, #Y2023, h5, h6 {
        font-size: 15px;
    }
}

@media screen and (321px<=width<=720px) {
    img[alt=bgimg] {
        display: block;
        display: none;
    }

    #box1,#box2,#box3 {
        width: 100%;
        height: fit-content;
    }
    
    .text1 h1 {
        font-size: 60px;
        font-weight: 600;
    }

    .text2 {
        width: 90%;
        font-size: 30px;
        font-weight: 400;
    }

    img[alt=logo] {
        width: 30px;
    }

    .text1of2 h1 {
        font-size: 40px;
        font-weight: 600;
    }

    .text2of2 {
        font-size: 15px;
    }
}

@media screen and (721px<=width<=1080px) {
    .text1 h1 {
        font-size: 85px;
        font-weight: 600;
    }

    .text2 {
        width: 70%;
        font-size: 55px;
        font-weight: 400;
    }

    .buttons {
        margin: 3em 0;
    }

    .text2of2 {
        font-size: 25px;
    }

}