*,
*::after
*::before {
    margin: 0;
    padding: 0;
}

/* bg body */

#box1, #box2, #box3 {
    position: relative;
    right: 2%;
    background-color: black;
    border-radius: 2.5%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 94vh;
    margin: 1em 0;
}

body {
    background-color: forestgreen;
    font-family: 'IBM Plex Sans', sans-serif;
}

/* home page image */

img[alt=bgimg] {
    position: absolute;
    top: 5%;
    left: 59%;
    width: 44%;
    height: 99%;
}

/* home page text */

.text1 h1 {
    padding: 0 0 0 .2em;
    width: 80%;
    font-size: 117px;
    font-weight: 600;
    color: white;
}

.text2 {
    padding: 0 0 0 .4em;
    font-size: 60px;
    width: 50%;
    font-weight: 600;
    color: white;
}

.textcolor {
    color: forestgreen;
}

/* buttons */

.buttons a {
    margin: 5em 2em 2em 0;
    border: 2px solid forestgreen;
    color: forestgreen;
}

.buttons {
    margin: 4em 0;
}

.buttons a:hover {
    background-color: forestgreen;
    color: white;
}

/* page 2 text */

.text1of2 h1 {
    margin: 0 0 .5em 0;
    width: 80%;
    font-size: 75px;
    font-weight: 600;
    color: white;
}

.text2of2 {
    padding: 0 0 0 .4em;
    width: 90%;
    font-size: 34px;
    font-weight: 400;
    color: white;
}

/* experience page */

#cicon {
    display: flex;
    align-items: center;
}
#cicon svg {
    position: absolute;
}

#c1 {
    position: relative;
    color: white;
    width: 15px;
    z-index: 1;
}

#c2 {
    width: 30px;
}

#exline {
    font-size: 4em;
}

#c2,#exline {
    margin: 1em;
    color: forestgreen;
}

#text2of3 h5, h6 {
    color: white;
}

#text2of3 p {
    color: forestgreen;
}